<footer class="main-footer">
  <div class="footer-left">
    Copyright © <span id="year"></span>
    <div class="bullet"></div>
    Design By
    <a href="https://www.cqlsys.com/">Cqlsys Technologies Pvt.Ltd. Mohali</a>
  </div>
  <div class="footer-right">2.3.0</div>
</footer>
<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>